
#body {
	
	position: fixed;
	top: 60px;
	width: 100%;

}

#body menu {
	

	margin: 5px;
}

#body menu li {
	list-style: none;
}

#body menu li a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	width: 150px;
	margin: 10px;
	color: black;
}

#body menu li a:hover {
	background-color: black;
	color: white;
}

#body article {

	margin: 5px;
}
