
.email-container{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    
}

.email-form{
	
	justify-content : center;
	text-align:center;
	margin : 0 auto;	
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.email-form h2{
	font-weight:bold;
    text-align: center;
    color: white;
}
.email-form h6{
	text-align: center;
    color: white;
}
.email-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;

}

.auth-input{
	text-align: center;
    color: white;
}

.email-form .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
    width: 130px;
    height: 40px;

}
.email-form .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
